/* body will be your highest level of styling
  by default the styles will pass to the entire doc's body
  different browsers/machines support different fonts
    the machine will look for each font until it finds one it can render
*/

body {
    font-family: "Cursive", "Book Antigua", Palatino, serif;
    font-size: 120%;
}

/* wrapper is the body column
  the # indicates that 'wrapper' is an id
    an id is essentially a label for a UNIQUE element
    i.e., you wouldn't want MORE than one element labeled as wrapper
  100px represents the top and bottom margins
  auto means that the browser will center the column
*/

img {
  position:absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#wrapper {
  max-width: 700px;
  min-width: 500px;
  margin: 125px auto;
  padding: 0 30px;
  background-color: #ffffff;
}

#content {
  padding: 3.998em 1.999em;
}
/* the dot indicates a class
  a class is like an id that you can use as many times as you want
  so you can give multiple elements the .nameBar class and they'll have the three attributes below
*/
.nameBar {
  font-size: .707em;
  color: #999999;
}

/* float will make the element move left or right and allow other elements to wrap around
  clear will disable elements from floating
*/

#courseNumber {
  float:left;
}

#lastUpdate {
  float:right;
}

#intro {
  padding: 1.999em 0;
}

.projectSection {
  border-top: solid 1px #cccccc;
}

h1 {
  font-size: 1.999em;
  padding-bottom: .354em;
}

h2 {
  font-size: 1.414em;
}

p {
  line-height: 1.999em;
}
